/* Dark Zombie green: #395738; */
/* Blood Red: #AA0000; */
/* Bone white: #F0EDE5; */
/* Zombie gray: #6C757D; */
/* Haunting purple: #8B008B; */

@font-face {
    font-family: 'Averia';
    src: url('./fonts/AveriaSansLibre-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Nosifer';
    src: url('./fonts/Nosifer-Regular.ttf') format('truetype');
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 15px 35px;
    background-color: #F0EDE5;
    height: 80px;
}

.logo {
    height: 80px;
}

.menu {
    flex-grow: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:100%;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Averia';
    font-size: 18pt;
}

.selected {
    position: relative;
    top: 15px;
    background-color: #395738;
    color: #F0EDE5;
}

.main {
    padding: 10vh 20vw 20vh 20vw;
    background-color: black;
    background-image: url("../src/images/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.main-header,
.main-content {
    padding: 15px 40px;
    background-color: #F0EDE5;
    opacity: 0.75;
    height: fit-content;
}

.main-header {
    color: #AA0000;
    font-family: 'Nosifer';
    font-size: 24pt;
    text-align: center;
}

.main-content {
    font-family: 'Averia';
    font-size: 16pt;
}
